body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  display: flex;
  flex-direction: column;
  width: 400px;
}

/* .block__search{
  display: flex;
  gap:10px;
  margin-bottom: 10px;
}

.input__search{
  width: 100%;
}

.btn__search{
  background-color: coral;
  padding: 10px 20px;
  color: #FFF;
  border: 1px solid #000;
  cursor: pointer;
} */
